{% extends 'base.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h4>EDITAR FORMATO</h4>
            <hr>
            <form method="POST" action="{% url 'formato_edit' formato.id %}">
                {% csrf_token %}
                <h6>Nome</h6>
                <input type="text" name="nome" class="form-control" value="{{ formato.nome }}" autofocus>
                <br>
                <button class="btn btn-success" type="submit">Salvar</button>
                <a href="{% url 'formato_lista' %}" class="btn btn-danger">Cancelar</a>
            </form>
        </div>
    </div>

{% endblock %}